html {
  font-size: 0.625rem;
}

body {
  font-size: 2rem;
  background-color: rgb(237, 229, 249);
}

h1 {
  font-size: 4.8rem;
  color: rgb(14, 73, 112);
  text-shadow: 0.175rem 0.175rem 0.5rem rgb(26, 140, 216);
  text-align: center;
  margin: 5rem 0;
}
